.title a,
.title span {
color: #0070f3;
text-decoration: none;
}

.title {
    margin: 0;
    line-height: 1.15;
    font-size: 4rem;
    text-align: center;
     padding-top: 50px;
}
.description{
    font-size: medium;
    text-align: center;
    font-style: italic;
}