@import "tailwindcss";

:root {

   --color-bg: #f7f7f7;
  --color-text: #222;
  --color-primary: #0070f3;
  --max-width: 900px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--background);
  color: var(--color-bg);
  line-height: 1.6;
}

/* ====== TESTO GENERALE ====== */
p {
  margin-bottom: 1rem;
  font-size: 1rem;
}

h1, h2, h3 {
  margin: 1rem 0 0.5rem;
  font-weight: 600;
  color: var(--color-primary);
}

/* ====== LINK ====== */
a {
  color: var(--color-primary);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
main {
  max-width: 900px;
  margin: 2rem auto;
  padding: 1rem;
}